.xdag-node{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
  line-height: 36px;
  background: rgb(255, 255, 255);
}
.x6-node-selected .xdag-node {
  box-shadow: 0 0 0 4px #d4e8fe;
}
.xdag-plus-node {
  /* visibility: hidden; */
  position: absolute;
  margin-left: -8px;
  bottom: -30px;
  left: 50%;
  width: 16px;
  height: 16px;
  background: url('https://mdn.alipayobjects.com/huamei_f4t1bn/afts/img/A*ScX2R4ODfokAAAAAAAAAAAAADtOHAQ/original')
    no-repeat center center / 100% 100%;
  cursor: pointer;
}
.xdag-plus-switch{
  position: absolute;
  cursor: pointer;
  color: #1890ff;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
}
.xdag-node.xdag-Choice{
  border: none;
  border-color: #70db9b;
  background: rgba(171, 255, 150, 0);
}
.xdag-node.xdag-Loop{
  border-color: #9e9e37;
  background: rgba(255, 255, 150, 0.5);
}
.xdag-node.xdag-Start{
  border: none;
  background-color: #9e9e37;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
.xdag-node.xdag-End{
  border: none;
  background-color: #9e9e37;
  color: #fff;
  border-radius: 5px 5px 0 0;
}
.xdag-node.xdag-Switch{
  background: #ebffe1;
}
.xdag-plus-node.xdag-Choice{
  bottom: -16px;
}